(
  references: {},
  changes: {
    "Added": [
      "adjust.tex",
      "ignore LaTeX compilation artifacts",
      "enable tab insertions",
      "colours for JSON5 and TeX / LaTeX",
    ],
  },
)
