(
  references: {},
  changes: {
    "Added": [
      "src/cursor_movement.v",
      "enable cursor movement with arrow keys",
      "CI:  ``v vet -W .``",
      "use ``os.cmdline`` features for CLI flags",
    ],
  },
)
