(
  references: {},
  changes: {
    "Added": [
      "enable switching between files",
      "status and command bars",
      "src/adjust.v",
      "colours ``black``, ``konsole_green``, and ``white``",
    ],
  },
)
